body{
  margin: 0;
  font-family: 'segoe UI', Aria, sans-serif;
  background: linear-gradient(120deg, #e3f2fd 0%, #fce4ec 100%);
  min-height: 100dvh:
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  
}

.column {
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.329);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
    gap: 30px;
    width: 500px;
    border-radius: 5px;

}
